@charset "UTF-8";

* {
    margin:0px; padding:0px; box-sizing:border-box;

}
ul, ol {
    list-style:none;
}
a {
    text-decoration:none;
}
/*header*/
#header{
  width: 100%;
}
#header .inner{
  width: 1180px; height: 220px; margin:0 auto;
  position: relative;
}
#header .inner .btn{
  display: none;
  position: absolute; right:5%; top:30%;

}
#header .inner .btn i{
  font-size: 24px; color: #000;
}
#header .inner h1{
  position: absolute; top:40px; left:50%;
  transform: translateX(-50%);
  font:bold 35px/1 'arial'; color: #555;
}
#header .inner p{
  position: absolute; top:85px; left:50%;
  transform: translateX(-50%);
  font:lighter 13px/1 'arial'; color: #000;
}
#header .inner #gnb{
  width: 100%; position: absolute;
  left:0; bottom:60px;
}
#header .inner #gnb::after{
  clear: both; display: block; content:'';
}
#header .inner #gnb li{
  float: left; width:calc(100% / 5);text-align: center;
}
#header .inner #gnb li a{
  display: inline-block;
  font:normal 14px/1 'arial'; color: #777;
}
#header .inner #gnb li:hover a{
  border-bottom: 1px solid #777;
}
/*figure*/
#visual{
  width: 100%; height: 780px;

}
#visual .swiper-container{
  width: 100%; height: 100%;
}
#visual .swiper-wrapper{
  width: 100%; height: 100%;
}
#visual .swiper-wrapper .swiper-slide{
  width: 100%; height: 100%;
}
#visual .swiper-container .swiper-slide:nth-of-type(1){
   background:#666 no-repeat center / cover;
}
#visual .swiper-container .swiper-slide:nth-of-type(2){
    background:#777 no-repeat center / cover;
}
#visual .swiper-container .swiper-slide:nth-of-type(3){
  background:#888 no-repeat center / cover;
}
#visual .swiper-container .swiper-slide:nth-of-type(4){
  background:#999 no-repeat center / cover;
}
#visual .swiper-container .swiper-slide:nth-of-type(5){
  background:#ddd no-repeat center / cover;
}

/*news*/
#news{width: 100%; padding:100px 0px 40px; box-sizing: border-box;}
#news .inner{width: 1180px; margin:0 auto;}
#news .inner h2{
  font:bold 26px/1 'arial'; color: #444;
  text-align: center; margin-bottom: 18px;
}
#news .inner p{
  font:normal 12px/1 'arial'; color: #000;
  text-align: center; margin-bottom: 80px;
}

#news .inner .wrap{
  width: 100%;
}
#news .inner .wrap::after{
  content:''; display: block; clear: both;
}
#news .inner .wrap article{
  float: left; width: calc(100% / 6);
  position: relative;
}
#news .inner .wrap article i{
  display: inline-block;
  font-size: 40px; color: #555;
  position: relative; left:50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}
/*brand*/
#brand{width: 100%; padding:0 0 150px;}
#brand .inner{width: 1180px;  margin:0 auto;}
#brand .inner .wrap{width: 100%;}
#brand .inner .wrap::after{
  display: block;clear: both; content:'';
}
#brand .inner .wrap article{
  width: calc((100% - 60px) / 4); float: left; margin-right: 20px;
  border-top: 2px solid #000;  padding-top: 30px;
}
#brand .inner .wrap article:last-of-type{margin-right: 0;}
#brand .inner .wrap article .pic{
  width: 100%; height: 200px; background-color: #555;
  margin-bottom: 25px;
}
#brand .inner .wrap article h3{
  font:bold 16px/1 'arial'; color: #000;
  margin-bottom: 20px;
}
#brand .inner .wrap article > p{
  font:14px/1.4 'arial'; color: #555; margin-bottom: 30px;
}
#brand .inner .wrap article:nth-of-type(3) div{
  width: 100%; height: 350px; background: #555;
}
#brand .inner .wrap article:nth-of-type(4) > h1{
  font:bold 50px/1 'arial'; color: #000;

}
#brand .inner .wrap article:nth-of-type(4) > h2{
  font:normal 35px/1 'arial'; color: #444;
  position: relative; margin-bottom: 40px;
}
#brand .inner .wrap article:nth-of-type(4) > h2::after{
  display: block; content:''; width: 50px; height: 2px;
  background-color: #000; position: absolute; top:55px; left:0;
}
#brand .inner .wrap article:nth-of-type(4) > h3{
}
#brand .inner .wrap article:nth-of-type(4) > a{
  color: #555;
}
/*footer upper*/
#footer{
  width: 100%; height: 300px; background-color: #555;
  padding:50px 0; position: relative;
}
#footer::after{
  content:'';display:block; width: 100%; height: 1px; background:#777;
  position: absolute; left:0px; top:73%;
}

#footer .inner{
  width: 1180px; margin:0 auto;
}
#footer .inner .upper{
  width: 100%; margin-bottom: 50px;

}

#footer .inner .upper::after{
  content:'';display: block; clear: both;
}
#footer .inner .upper .left{
  width: 75%;
  float: left;
}
#footer .inner .upper article{
  float: left; width: calc(100% / 4);
}
#footer .inner .upper article h2{
  margin-bottom: 13px;
  font:normal 18px/1 'arial'; color: #999;
}
#footer .inner .upper article div{
  margin-bottom: 10px;
  font:14px/1 'arial'; color: #777;
}
#footer .inner .upper .right{
  width: 25%;
  float: right;
}

#footer .inner .upper .right div{
  float: left;
  padding-left: 13.5px;color: #777;
  font:14px/1 'arial';margin-bottom: 10px;
}
#footer .inner .upper .right > p{
  width: 100%;
   margin-right: 24px; padding-left: 6px;
   font:14px/1 'arial'; text-align: right;
  color: #777;
}
/*footer lower*/
#footer .inner .lower{
  width: 100%; position: relative;
}
#footer .inner .lower h2{
  position: absolute; top:20px; left:0;
  font:bold 25px/1 'arial'; color:#999;
}
#footer .inner .lower > p{
  font:13px/1 'arial'; color: #777;
  position: absolute; top:25px; left:50%;
  transform: translateX(-50%);
}
#footer .inner .lower .btn{
  display: block;
  width: 230px; height: 25px; border:1px solid #888;
  padding:3px 14px; font:14px/1 'arial'; color: #777;
  position:absolute; right:0; top:20px;
}
#footer .inner .lower .btn i{
  float: right;
}


/*tablet*/
@media screen and (max-width:1179px){
  /*header*/

  #header .inner{
    width: 100%; height: 130px;
    }
  #header .inner h1{
    top:20px;

  }
  #header .inner p{
    display: none;
  }
  #header .inner #gnb{
    bottom:30px;
  }
  #header .inner .btn{
    display: block;
  }
  /*figure*/
  #visual{
    height: 400px;
  }

  /*news*/
  #news{padding:80px 30px;}
  #news .inner{width: 100%;}

  #news .inner .wrap article{
    width: calc(100% / 3);
  }
  #news .inner .wrap article > p{
    line-height: 1.4;
  }
  /*brand*/
  #brand{padding:80px 30px; box-sizing: border-box;}
  #brand .inner{width: 100%;}
  #brand .inner .wrap article{
    width: calc((100% / 2) - 40px);
  }
  #brand .inner .wrap article:nth-of-type(2n){
    margin-right: 0px; margin-left: 20px;
  }
  #brand .inner .wrap article .pic{
    width: 100%; background-color: #555;
    margin-bottom: 25px;
  }

  #brand .inner .wrap article:nth-of-type(4) > h1{
    font:bold 50px/1 'arial'; color: #000;

  }
  /*footer upper*/
  #footer .inner{width: 100%;}
  #footer .inner .upper {
    width: 100%;
  }
  #footer .inner .upper .left{
    width: 100%;
  }
  #footer .inner .upper article{
  width:25%;
  }
  #footer .inner .upper .right{
    width: 0%;

  }

  #footer .inner .upper .right div{
    display: none;
  }
  #footer .inner .upper .right > p{
    display: none;
  }
  /*footer lower*/


  #footer .inner .lower > p{
    display: none;
  }

}
/*mobile*/
@media screen and (max-width:589px){
  #header .inner{
    height: 80px;
  }
  #header .inner #gnb{
    display: none;
  }
  /*figure*/
  #visual{
    height: 300px;
  }

  /*news*/
  #news{padding:40px 20px;}

  #news .inner .wrap article{
    width: calc(100% / 2);
  }
  /*brand*/
  #brand{padding:60px 20px;}

  #brand .inner .wrap article{
    width: 100%;
  }
  #brand .inner .wrap article:nth-of-type(2n){
  margin-left: 0px;
  }
  #brand .inner .wrap article .pic{
    width: 60vh; margin:0 auto; margin-bottom: 20px;
  }
  #brand .inner .wrap article:nth-of-type(3){
    display: none;
  }
  /*footer*/
  #footer {
    height: 130px;
  }
  #footer::after{
    display: none;
  }
  #footer .inner .upper{
    display: none;
  }
  #footer .inner .lower h2{
    top:50%;
  }
  #footer .inner .lower h2::after{
    display: none;
  }
  #footer .inner .lower > p{
    display: none;
  }
  #footer .inner .lower .btn{
    top:50%;
  }
}
